<h1>SCS-Nexmo Index</h1>
<form action="oauth2/auth" method="get">
	
	<input style="display:none">
                        	<input type="password" style="display:none">
                        	                        
                        	
                            <div class="row">
                                <div class="form-group col-md-12">
                                	
                                    <label class="sr-only" for="firstName">First name</label>
                                    <input id="firstName" name="firstName" placeholder="First name" name="firstName" class="form-control input-lg"  type="type" value=""/>
                                    <span class="fa fa-2x form-control-feedback hide icon-display"></span>
                                	
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                	
                                    <label class="sr-only" for="lastName">Last name</label>
                                    <input id="lastName" name="lastName" placeholder="Last name" name="lastName" class="form-control input-lg"  type="type" value=""/>
                                    <span class="fa fa-2x form-control-feedback hide icon-display"></span>
									
                                </div> 
                            </div> 
                            <div class="row">          
                                <div class="form-group col-md-12">
                                	
                                    <label class="sr-only" for="companyName">Company name (optional)</label>
                                    <input id="companyName" name="companyName" placeholder="Company name (optional)" name="companyName" class="form-control input-lg"  type="type" value=""/>
                                </div>
                            </div>  
                            <div class="row">          
                                <div class="form-group col-md-12">
                                	
                                    <label class="sr-only" for="email">Email address</label>
                                    <input id="email" name="email" placeholder="Email address" name="email" class="form-control input-lg"  type="email" value=""/>
                                    <span class="fa fa-2x form-control-feedback hide icon-display"></span>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="sr-only" for="phoneCountry">Ext</label>                                    
                                    <select id="country" name="phoneCountry" name="country" class="countryCode form-control input-lg" >
                                        <option value="" disabled="disabled">Select</option>
										
											<option value="AF" data-ext="+93" >Afghanistan</option>											
										
											<option value="AL" data-ext="+355" >Albania</option>											
										
											<option value="DZ" data-ext="+213" >Algeria</option>											
										
											<option value="AS" data-ext="+1684" >American Samoa</option>											
										
											<option value="AD" data-ext="+376" >Andorra</option>											
										
											<option value="AO" data-ext="+244" >Angola</option>											
										
											<option value="AI" data-ext="+1264" >Anguilla</option>											
										
											<option value="AQ" data-ext="+672" >Antarctica</option>											
										
											<option value="AG" data-ext="+1268" >Antigua and Barbuda</option>											
										
											<option value="AR" data-ext="+54" >Argentina</option>											
										
											<option value="AM" data-ext="+374" >Armenia</option>											
										
											<option value="AW" data-ext="+297" >Aruba</option>											
										
											<option value="AU" data-ext="+61" >Australia</option>											
										
											<option value="AT" data-ext="+43" >Austria</option>											
										
											<option value="AZ" data-ext="+994" >Azerbaijan</option>											
										
											<option value="BS" data-ext="+1242" >Bahamas, The</option>											
										
											<option value="BH" data-ext="+973" >Bahrain</option>											
										
											<option value="BD" data-ext="+880" >Bangladesh</option>											
										
											<option value="BB" data-ext="+1246" >Barbados</option>											
										
											<option value="BY" data-ext="+375" >Belarus</option>											
										
											<option value="BE" data-ext="+32" >Belgium</option>											
										
											<option value="BZ" data-ext="+501" >Belize</option>											
										
											<option value="BJ" data-ext="+229" >Benin</option>											
										
											<option value="BM" data-ext="+1441" >Bermuda</option>											
										
											<option value="BT" data-ext="+975" >Bhutan</option>											
										
											<option value="BO" data-ext="+591" >Bolivia</option>											
										
											<option value="BA" data-ext="+387" >Bosnia and Herzegovina</option>											
										
											<option value="BW" data-ext="+267" >Botswana</option>											
										
											<option value="BR" data-ext="+55" >Brazil</option>											
										
											<option value="VG" data-ext="+1284" >British Virgin Islands</option>											
										
											<option value="BN" data-ext="+673" >Brunei</option>											
										
											<option value="BG" data-ext="+359" >Bulgaria</option>											
										
											<option value="BF" data-ext="+226" >Burkina Faso</option>											
										
											<option value="BI" data-ext="+257" >Burundi</option>											
										
											<option value="CV" data-ext="+238" >Cabo Verde</option>											
										
											<option value="KH" data-ext="+855" >Cambodia</option>											
										
											<option value="CM" data-ext="+237" >Cameroon</option>											
										
											<option value="CA" data-ext="+1" >Canada</option>											
										
											<option value="KY" data-ext="+1345" >Cayman Islands</option>											
										
											<option value="CF" data-ext="+236" >Central African Republic</option>											
										
											<option value="TD" data-ext="+235" >Chad</option>											
										
											<option value="CL" data-ext="+56" >Chile</option>											
										
											<option value="CN" data-ext="+86" >China</option>											
										
											<option value="CO" data-ext="+57" >Colombia</option>											
										
											<option value="KM" data-ext="+269" >Comoros</option>											
										
											<option value="CG" data-ext="+242" >Congo</option>											
										
											<option value="CD" data-ext="+243" >Congo (DRC)</option>											
										
											<option value="CK" data-ext="+682" >Cook Islands</option>											
										
											<option value="CR" data-ext="+506" >Costa Rica</option>											
										
											<option value="CI" data-ext="+225" >Cote d'Ivoire</option>											
										
											<option value="HR" data-ext="+385" >Croatia</option>											
										
											<option value="CW" data-ext="+5999" >Curacao</option>											
										
											<option value="CY" data-ext="+357" >Cyprus</option>											
										
											<option value="CZ" data-ext="+420" >Czech Republic</option>											
										
											<option value="DK" data-ext="+45" >Denmark</option>											
										
											<option value="DJ" data-ext="+253" >Djibouti</option>											
										
											<option value="DM" data-ext="+1767" >Dominica</option>											
										
											<option value="DO" data-ext="+18" >Dominican Republic</option>											
										
											<option value="EC" data-ext="+593" >Ecuador</option>											
										
											<option value="EG" data-ext="+20" >Egypt</option>											
										
											<option value="SV" data-ext="+503" >El Salvador</option>											
										
											<option value="GQ" data-ext="+240" >Equatorial Guinea</option>											
										
											<option value="ER" data-ext="+291" >Eritrea</option>											
										
											<option value="EE" data-ext="+372" >Estonia</option>											
										
											<option value="ET" data-ext="+251" >Ethiopia</option>											
										
											<option value="FK" data-ext="+500" >Falkland Islands</option>											
										
											<option value="FO" data-ext="+298" >Faroe Islands</option>											
										
											<option value="FJ" data-ext="+679" >Fiji</option>											
										
											<option value="FI" data-ext="+358" >Finland</option>											
										
											<option value="FR" data-ext="+33" >France</option>											
										
											<option value="GF" data-ext="+594" >French Guiana</option>											
										
											<option value="PF" data-ext="+689" >French Polynesia</option>											
										
											<option value="GA" data-ext="+241" >Gabon</option>											
										
											<option value="GM" data-ext="+220" >Gambia, The</option>											
										
											<option value="GE" data-ext="+995" >Georgia</option>											
										
											<option value="DE" data-ext="+49" >Germany</option>											
										
											<option value="GH" data-ext="+233" >Ghana</option>											
										
											<option value="GI" data-ext="+350" >Gibraltar</option>											
										
											<option value="GR" data-ext="+30" >Greece</option>											
										
											<option value="GL" data-ext="+299" >Greenland</option>											
										
											<option value="GD" data-ext="+1473" >Grenada</option>											
										
											<option value="GP" data-ext="+590" >Guadeloupe</option>											
										
											<option value="GU" data-ext="+1671" >Guam</option>											
										
											<option value="GT" data-ext="+502" >Guatemala</option>											
										
											<option value="GN" data-ext="+224" >Guinea</option>											
										
											<option value="GW" data-ext="+245" >Guinea-Bissau</option>											
										
											<option value="GY" data-ext="+592" >Guyana</option>											
										
											<option value="HT" data-ext="+509" >Haiti</option>											
										
											<option value="VA" data-ext="+3" >Holy See (Vatican City)</option>											
										
											<option value="HN" data-ext="+504" >Honduras</option>											
										
											<option value="HK" data-ext="+852" >Hong Kong SAR</option>											
										
											<option value="HU" data-ext="+36" >Hungary</option>											
										
											<option value="IS" data-ext="+354" >Iceland</option>											
										
											<option value="IN" data-ext="+91" >India</option>											
										
											<option value="ID" data-ext="+62" >Indonesia</option>											
										
											<option value="IQ" data-ext="+964" >Iraq</option>											
										
											<option value="IE" data-ext="+353" >Ireland, Republic of</option>											
										
											<option value="IL" data-ext="+972" >Israel</option>											
										
											<option value="IT" data-ext="+39" >Italy</option>											
										
											<option value="JM" data-ext="+1876" >Jamaica</option>											
										
											<option value="JP" data-ext="+81" >Japan</option>											
										
											<option value="JO" data-ext="+962" >Jordan</option>											
										
											<option value="KZ" data-ext="+7" >Kazakhstan</option>											
										
											<option value="KE" data-ext="+254" >Kenya</option>											
										
											<option value="KI" data-ext="+686" >Kiribati</option>											
										
											<option value="KR" data-ext="+82" >Korea</option>											
										
											<option value="KW" data-ext="+965" >Kuwait</option>											
										
											<option value="KG" data-ext="+996" >Kyrgyzstan</option>											
										
											<option value="LA" data-ext="+856" >Laos</option>											
										
											<option value="LV" data-ext="+371" >Latvia</option>											
										
											<option value="LB" data-ext="+961" >Lebanon</option>											
										
											<option value="LS" data-ext="+266" >Lesotho</option>											
										
											<option value="LR" data-ext="+231" >Liberia</option>											
										
											<option value="LY" data-ext="+218" >Libya</option>											
										
											<option value="LI" data-ext="+423" >Liechtenstein</option>											
										
											<option value="LT" data-ext="+370" >Lithuania</option>											
										
											<option value="LU" data-ext="+352" >Luxembourg</option>											
										
											<option value="MO" data-ext="+853" >Macao SAR</option>											
										
											<option value="MK" data-ext="+389" >Macedonia, FYRO</option>											
										
											<option value="MG" data-ext="+261" >Madagascar</option>											
										
											<option value="MW" data-ext="+265" >Malawi</option>											
										
											<option value="MY" data-ext="+60" >Malaysia</option>											
										
											<option value="MV" data-ext="+960" >Maldives</option>											
										
											<option value="ML" data-ext="+223" >Mali</option>											
										
											<option value="MT" data-ext="+356" >Malta</option>											
										
											<option value="MH" data-ext="+692" >Marshall Islands</option>											
										
											<option value="MQ" data-ext="+596" >Martinique</option>											
										
											<option value="MR" data-ext="+230" >Mauritius</option>											
										
											<option value="YT" data-ext="+269" >Mayotte</option>											
										
											<option value="MX" data-ext="+52" >Mexico</option>											
										
											<option value="FM" data-ext="+691" >Micronesia</option>											
										
											<option value="MD" data-ext="+373" >Moldova</option>											
										
											<option value="MC" data-ext="+377" >Monaco</option>											
										
											<option value="MN" data-ext="+976" >Mongolia</option>											
										
											<option value="ME" data-ext="+382" >Montenegro</option>											
										
											<option value="MS" data-ext="+1664" >Montserrat</option>											
										
											<option value="MA" data-ext="+212" >Morocco</option>											
										
											<option value="MZ" data-ext="+258" >Mozambique</option>											
										
											<option value="MM" data-ext="+95" >Myanmar</option>											
										
											<option value="NA" data-ext="+264" >Namibia</option>											
										
											<option value="NR" data-ext="+674" >Nauru</option>											
										
											<option value="NP" data-ext="+977" >Nepal</option>											
										
											<option value="NL" data-ext="+31" >Netherlands</option>											
										
											<option value="NC" data-ext="+687" >New Caledonia</option>											
										
											<option value="NZ" data-ext="+64" >New Zealand</option>											
										
											<option value="NI" data-ext="+505" >Nicaragua</option>											
										
											<option value="NE" data-ext="+227" >Niger</option>											
										
											<option value="NG" data-ext="+234" >Nigeria</option>											
										
											<option value="NU" data-ext="+683" >Niue</option>											
										
											<option value="MP" data-ext="+1670" >Northern Mariana Islands</option>											
										
											<option value="NO" data-ext="+47" >Norway</option>											
										
											<option value="OM" data-ext="+968" >Oman</option>											
										
											<option value="PK" data-ext="+92" >Pakistan</option>											
										
											<option value="PW" data-ext="+680" >Palau</option>											
										
											<option value="PS" data-ext="+970" >Palestinian Authority</option>											
										
											<option value="PA" data-ext="+507" >Panama</option>											
										
											<option value="PG" data-ext="+675" >Papua New Guinea</option>											
										
											<option value="PY" data-ext="+595" >Paraguay</option>											
										
											<option value="PE" data-ext="+51" >Peru</option>											
										
											<option value="PH" data-ext="+63" >Philippines</option>											
										
											<option value="PL" data-ext="+48" >Poland</option>											
										
											<option value="PT" data-ext="+351" >Portugal</option>											
										
											<option value="PR" data-ext="+1787" >Puerto Rico</option>											
										
											<option value="QA" data-ext="+974" >Qatar</option>											
										
											<option value="RE" data-ext="+262" >Reunion</option>											
										
											<option value="RO" data-ext="+40" >Romania</option>											
										
											<option value="RU" data-ext="+7" >Russia</option>											
										
											<option value="RW" data-ext="+250" >Rwanda</option>											
										
											<option value="KN" data-ext="+1869" >Saint Kitts and Nevis</option>											
										
											<option value="LC" data-ext="+1758" >Saint Lucia</option>											
										
											<option value="PM" data-ext="+508" >Saint Pierre and Miquelon</option>											
										
											<option value="VC" data-ext="+1784" >Saint Vincent and the Grenadines</option>											
										
											<option value="WS" data-ext="+685" >Samoa</option>											
										
											<option value="SM" data-ext="+378" >San Marino</option>											
										
											<option value="ST" data-ext="+239" >São Tomé and Príncipe</option>											
										
											<option value="SA" data-ext="+966" >Saudi Arabia</option>											
										
											<option value="SN" data-ext="+221" >Senegal</option>											
										
											<option value="RS" data-ext="+381" >Serbia</option>											
										
											<option value="SC" data-ext="+248" >Seychelles</option>											
										
											<option value="SL" data-ext="+232" >Sierra Leone</option>											
										
											<option value="SG" data-ext="+65" >Singapore</option>											
										
											<option value="SX" data-ext="+1721" >Sint Maarten</option>											
										
											<option value="SK" data-ext="+421" >Slovakia</option>											
										
											<option value="SI" data-ext="+386" >Slovenia</option>											
										
											<option value="SB" data-ext="+677" >Solomon Islands</option>											
										
											<option value="SO" data-ext="+252" >Somalia</option>											
										
											<option value="ZA" data-ext="+27" >South Africa</option>											
										
											<option value="ES" data-ext="+34" >Spain</option>											
										
											<option value="LK" data-ext="+94" >Sri Lanka</option>											
										
											<option value="SH" data-ext="+290" >St Helena, Ascension, Tristan da Cunha</option>											
										
											<option value="SR" data-ext="+597" >Suriname</option>											
										
											<option value="SZ" data-ext="+268" >Swaziland</option>											
										
											<option value="SE" data-ext="+46" >Sweden</option>											
										
											<option value="CH" data-ext="+41" >Switzerland</option>											
										
											<option value="TW" data-ext="+886" >Taiwan</option>											
										
											<option value="TJ" data-ext="+992" >Tajikistan</option>											
										
											<option value="TZ" data-ext="+255" >Tanzania</option>											
										
											<option value="TH" data-ext="+66" >Thailand</option>											
										
											<option value="TL" data-ext="+670" >Timor-Leste</option>											
										
											<option value="TG" data-ext="+228" >Togo</option>											
										
											<option value="TK" data-ext="+690" >Tokelau</option>											
										
											<option value="TO" data-ext="+676" >Tonga</option>											
										
											<option value="TT" data-ext="+1868" >Trinidad and Tobago</option>											
										
											<option value="TN" data-ext="+216" >Tunisia</option>											
										
											<option value="TR" data-ext="+90" >Turkey</option>											
										
											<option value="TM" data-ext="+993" >Turkmenistan</option>											
										
											<option value="TC" data-ext="+1649" >Turks and Caicos Islands</option>											
										
											<option value="TV" data-ext="+688" >Tuvalu</option>											
										
											<option value="UG" data-ext="+256" >Uganda</option>											
										
											<option value="UA" data-ext="+380" >Ukraine</option>											
										
											<option value="AE" data-ext="+971" >United Arab Emirates</option>											
										
											<option value="GB" data-ext="+44" >United Kingdom</option>											
										
											<option value="US" data-ext="+1" selected>United States</option>											
										
											<option value="UY" data-ext="+598" >Uruguay</option>											
										
											<option value="VI" data-ext="+1340" >US Virgin Islands</option>											
										
											<option value="UZ" data-ext="+998" >Uzbekistan</option>											
										
											<option value="VU" data-ext="+678" >Vanuatu</option>											
										
											<option value="VE" data-ext="+58" >Venezuela</option>											
										
											<option value="VN" data-ext="+84" >Vietnam</option>											
										
											<option value="WF" data-ext="+681" >Wallis and Futuna</option>											
										
											<option value="YE" data-ext="+967" >Yemen</option>											
										
											<option value="ZM" data-ext="+260" >Zambia</option>											
										
											<option value="ZW" data-ext="+263" >Zimbabwe</option>											
										
                                    </select>
                                </div>
                                <div class="form-group col-md-8">
                                	
                                    <label class="sr-only" for="phone">Phone number</label>
                                    <input id="phone" name="phone" placeholder="Phone number" class="form-control input-lg"  type="text" value=""/>
                                </div>                               	
                                
                             
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                	
                                    <label class="sr-only" for="password">Password</label>
                                    <input id="password" name="password" placeholder="Password" name="password" class="form-control input-lg" type="password" value=""/>
                                   
                                	
                                </div> 
                            </div>
                            <div class="row">
                            	<div class="form-group col-md-12">
                                	<p class="hint">By clicking on the Sign up button below or otherwise using our services, you acknowledge that you have read, understood and agree to be bound by the <a href="https://www.nexmo.com/terms-use" target="_blank">Terms of Use</a> and <a href="https://www.nexmo.com/privacy-policy" target="_blank">Privacy Policy</a>.</p>
                            	</div>
                            </div>	
                            

	<ul>
		<!-- <li>
			<label for="clientId">Consumer Key</label>
			<input type="text" name="clientId">
		</li>
		<li>
			<label for="secret">Consumer Secret</label>
			<input type="text" name="secret">
		</li> -->
		<li>

		<li>
			<h3> - Enter some Info required for Nexmo </h3>
		</li>

		<li>
			<h3> -  Do some creation in background </h3>

		</li>
			<input type="submit" value="Setup/Login">
		</li>
	</ul>
</form>
